* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.card {
    border: 2px solid black;
    padding: 24px;
    border-radius: 8px;
}

hr {
    margin-bottom: 6px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    gap: 24px;
}

input {
    width: 100%;
}